<div>
    <div class="title">
        <h3>This Blog post</h3>
    </div>
    <div class="post">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eius voluptas architecto doloribus, iusto quos laborum sed necessitatibus. Sapiente temporibus cupiditate ducimus hic nisi molestias doloribus quo ullam cumque ratione expedita, consectetur aut tempora doloremque, ex aperiam voluptate! Provident facere debitis delectus? Dicta rem, dignissimos fuga repudiandae voluptate modi dolore?</p>
    </div>
    <div class="post">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eius voluptas architecto doloribus, iusto quos laborum sed necessitatibus. Sapiente temporibus cupiditate ducimus hic nisi molestias doloribus quo ullam cumque ratione expedita, consectetur aut tempora doloremque, ex aperiam voluptate! Provident facere debitis delectus? Dicta rem, dignissimos fuga repudiandae voluptate modi dolore?</p>
    </div>
</div>
